/* Qutar estilos del navegador*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
/*Quitar barra de scroll*/
div{
  overflow: hidden;
}
/*Hacer que el html/body ocupe todo el espacio*/
html,body{
   width: 100%;
   height: 100%;
  display: block;
  box-sizing: border-box;
  border: 0px;
  overflow:hidden;
}
/*Configurar imagen de fondo*/
body{      
   background-image: url("../images/nevado.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  width: 100%;
  display: block;
  box-sizing: border-box;
}
/*Estilos de letras*/
.div{
  width: 300%;
}
h1{
  position: fixed;
  z-index:6;  
  animation-name:letra;
  animation-fill-mode: forwards;
  opacity: 0.0;
  animation-delay:1s;
  animation-duration: 15s;
  width: ;
  font-size: 300%;
  color: white;
  text-align: center;
  top:20%;
  left:40%;
  font-family: "Times New Roman", Times, serif;
}
/*Estilos de china*/
/*.china{
  position:fixed;
  z-index: 4;
  animation-name:chi;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  opacity: 0.0;
  animation-delay: 5s;
  width: 100%;
  height: 100%;
  text-align: center;

}*/
/*Estilos de la foto de jhon*/
/*.jhon{
  position: fixed;
  z-index:5;  
  animation-name:jhon;
  animation-fill-mode: forwards;
  animation transition-duration: 21s;
  opacity: 0.0;
  animation-delay:6s;
  animation-duration: 15s;
  width: 20%;
  top:50%;
  left:35%;
}*/
/*Estilos de santa*/
.santa{
  position: fixed;
  animation-name: tri;
  width: 10%;
  animation-duration: 10s;
  left: -20%;
  top :30%;
  z-index:3;
}
/*Estilos de nieve*/
#nieve div {
   position: fixed;
   top: -40px;
   animation-name: nieve, copos;
   animation-iteration-count: infinite;
   animation-direction: normal;
   animation-timing-function: ease-in;
   z-index: 2;
}
/*Estilos de copo*/
.copos {
   color: white;
   z-index: 1;
  font-size: 100%;
   position: fixed;   
}
/*Estilos de todos los copos*/
.copos.f1 {
   left: 10%;
   animation-duration: 5s;   
}
.copos.f2 {

   left: 20%;
   animation-duration: 7s;   
}
.copos.f3 {
   left:  30%;
   animation-duration: 8s;   
}
.copos.f4 {

   left:  30%;
   animation-duration: 6s;   
}
.copos.f5 {
   color: white;
   left:  40%;
}
.copos.f6 {
   left:  50%;
   animation-duration: 5s;   
}
.copos.f7 {
 
   left: 60%;
   animation-duration: 7s;   
}
.copos.f8 {
   left: 70%;
   animation-duration: 8s;   
}
.copos.f10 {
  
   left: 80%;
   animation-duration: 5s;   
}
.copos.f11 {
  
   left: 90%;
   animation-duration: 6s;   
}
.copos.f12 {
 
   left: 100%;
   animation-duration: 7s;   
}
/*Animaciones*/
/*Animacion letra*/
@keyframes letra{
  from { opacity: 0.0;} 
  to { opacity: 1.0;}
}
/*Animacion Jhon*/
/*
@keyframes jhon{
  from { opacity: 0.0;} 
  to { opacity: 1.0;}
}*/
/*Animacion china*/
/*
@keyframes chi{
  from { opacity: 0.0;} 
  to { opacity: 1.0;}
}*/
/*Animacion trineo*/
/*Trineo alternativo*/
/*@keyframes tri{
  from {left: -20%; } 
  to {left: 110%;transform: rotate(180deg) translate(10px, 75px)}
}*/
/*Trineo normal*/
@keyframes tri{
  from {left: -20%;transform: rotate(30deg) translate(10px, 75px) } 
  to {left: 200%;transform: rotate(-30deg) translate(10px, 75px)}
}
/*Animacion nieve*/
@keyframes nieve{
   from {top: -10%;}
   to {top: 200%;}
}
/*Animacion copos*/
@keyframes copos{
    0% { transform: rotate(-180deg) translate(0px, 0px);}
    100% { transform: rotate(180deg) translate(10px, 75px);}
}